@charset "utf-8";
/* CSS Document */
body{
  background-color: #D2691E;
  height: 24cm

}
img
{
  height: 275px;
  width: 490px;
  align: center;
}
#logo{
	width:120px;
	height:100px;
}
body.special{
  color: #558B2F;
  font-family: sans-serif;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}
.tooltip {
    font-family: sans-serif;
    font-size: 20px;
    color: #558B2F;
    position: relative;
    display: inline-block;
    margin-bottom: 26px;
    border-bottom: 2px dotted #A52A2A ;
}
p{
  color: #558B2F;
  font-family: sans-serif;
  font-size: 20px;
  margin-top: -15px;
  margin-bottom: 30px;
  text-align: center;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 240px;
    background-color: black;
    padding-left: 0.15cm;
    padding-right: 0.25cm;
    font-size: 13px;
    text-align: left;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltip:hover .tooltiptext
 {
    visibility: visible;
}
#section_1
{
		padding-bottom: 5%;
		padding-top: 0.5%;
		background: white;
		width: 70%;
		margin: auto;
		display: block;
    margin-top: 4%;
    margin-bottom: 4%;

}
h1
{
  text-align: center;
  font-family: sans-serif;
  font-size: 350%;
  color:  #A52A2A;
}
p.special
{
  color: #A52A2A;
  font-weight: bold;
  margin-bottom: 2px;
}
